.profile-img {
    margin: 0 auto;
    max-width:374px;
    width:100%;
    text-align: center;
}
 h1{
     text-align: center;
    box-sizing:border-box;
    color:rgb(68, 68, 68);
    display:block;
    font-family:Hind, sans-serif;
    font-size:4vh;
    font-weight:bold;
    height:36px;
    margin-bottom:5px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    text-size-adjust:100%;
    text-transform:uppercase;
    width:100%;
    -webkit-margin-after:5px;
    -webkit-margin-before:0px;
    -webkit-margin-end:0px;
    -webkit-margin-start:0px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
 }
 h2{
    box-sizing:border-box;
    color:rgb(255, 87, 34);
    display:block;
    font-family:Hind, sans-serif;
    font-size:3vh;
    font-weight:300;
    height:auto;
    text-size-adjust:100%;
    width:100%;
    text-align: center;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
 }
 p{
    box-sizing:border-box;
    padding-left: 15px;
    padding: 15px;
    color:rgb(152, 152, 152);
    display:block;
    font-family:Hind, sans-serif;
    font-size:2vh;
    font-weight:300;
    margin-bottom:20px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    text-size-adjust:100%;
    width:100%;
    -webkit-margin-after:20px;
    -webkit-margin-before:0px;
    -webkit-margin-end:0px;
    -webkit-margin-start:0px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
 }

 .links{
     width:100%;
     text-align: center;
     margin:0 auto;
     padding:0px;
     margin:0px;
 }

  .links li{
      display:inline-block;
      margin-right:5px;
  }
   .links li a{
       color:#666666;
       font-size:5vh;
   }
